.dashboard_container {
  padding: 5rem;
  margin: 4rem;

  background-color: var(--main-color);
  border-radius: 4px;

  overflow-y: auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label{
  color: var(--secondary-color);
}

.form-group h3{
  color: var(--secondary-color);
}

.form-control {
  font-size: 16px;

  padding: 10px;

  border: 1px solid var(--secondary-color);
  border-radius: 10px;
}

.btn {
  padding: 10px;
  font-size: 16px;
}

.btn-primary {
  background-color: var(--secondary-color);
}

#btn_imagen{
  height: 3rem;
  border: 1px solid var(--secondary-color);
}

#btn_imagen:hover{
  color: var(--secondary-color);
  background-color: var(--main-color);
  border: 1px solid var(--secondary-color);
}

#btn_imagen_ver{
  height: 3rem;
  margin-left: 1rem;

  color: var(--secondary-color);
  background-color: var(--main-color);
  border: 1px solid var(--secondary-color);
}

#btn_imagen_ver:hover{
  background-color: var(--secondary-color);
}


/* CUSTOM CSS FOR PHONES DEVICES */

@media screen and (max-aspect-ratio: 4/5){ /* 4:5 = 0.8 */
  .main_container{
    display: block;
    width: 100%;
  }

  .dashboard_container{
    margin: 2rem;
    padding: 0;
    
    height: 100%;
    overflow: hidden;
  }

  .dashboard_container form{
    margin: 2rem;
    width: 100%;
  }

  .form_row{
    flex-wrap: wrap;
  }

  .form-control{
    width: 100%;

    padding: 5px 10px;
  }

  .form-group{
    margin-bottom: 10px;
  }

  .form-group label{
    font-size: 0.9rem;
  }
}

@media screen and (max-aspect-ratio: 10/16){ /* 10:16 = 0.625 */
  .main_container{
    display: block;
    width: 100%;
  }

  .dashboard_container{
    margin: 1rem;
    padding: 0;
    
    height: 85%;
    overflow: hidden;
  }

  .dashboard_container form{
    margin: 1rem;
    width: 100%;
  }

  .form_row{
    flex-direction: column;
    flex-wrap: unset;
  }

  .form-control{
    width: 55%;

    padding: 3.5px 7.5px;
  }

  .form-group{
    margin-bottom: 10px;
  }

  .form-group label{
    width: 30%;
    font-size: 0.8rem;
  }
  
  .form-group input[type="text"]{
    font-size: 0.85rem;
  }

  .form-group input[type="number"]{
    font-size: 0.85rem;
  }

  .form-group input[type="tel"]{
    font-size: 0.85rem;
  }

  .form-group input[type="email"]{
    font-size: 0.85rem;
  }

  .form-group input[type="password"]{
    font-size: 0.85rem;
  }

  .form-group select{
    font-size: 0.85rem;
  }

  .dashboard_container form button{
    font-size: 12.5px;
    padding: 10px 13.5px;
  }
}

@media screen and (max-aspect-ratio: 9/16){ /* 9:16 = 0.5625 */
  .main_container{
    display: block;
    width: 100%;
  }

  .dashboard_container{
    margin: 1rem;
    padding: 0;
    
    height: 80%;
    width: calc(100% - 2rem);
    overflow: hidden;
  }

  .dashboard_container form{
    margin: 1rem;
    width: 100%;
  }

  .dashboard_container form button{
    font-size: 10px;
    padding: 5px;
  }

  .form_row{
    flex-wrap: unset;
    flex-direction: column;
  }

  .form-control{
    width: 50%;

    padding: 2.5px 5px;
  }

  .form-group{
    margin-bottom: 10px;
  }

  .form-group label{
    width: 30%;

    font-size: 0.6rem;
  }

  .form-group textarea{
    width: 50%;

    font-size: 0.6rem;
  }

  .form-group input[type="text"]{
    font-size: 0.6rem;
  }

  .form-group input[type="number"]{
    font-size: 0.6rem;
  }

  .form-group input[type="tel"]{
    font-size: 0.6rem;
  }

  .form-group input[type="email"]{
    font-size: 0.6rem;
  }

  .form-group input[type="password"]{
    font-size: 0.6rem;
  }

  .form-group input[type="file"]{
    font-size: 0.6rem;
  }

  .form-group select{
    font-size: 0.6rem;
  }
}