.dashboard_container {
  padding: 5rem;
  margin: 6rem auto;

  background-color: var(--main-color);
  border-radius: 4px;

  overflow-y: auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label{
  color: var(--secondary-color);
}

.form-control {
  font-size: 16px;

  padding: 10px;

  border: 1px solid var(--secondary-color);
  border-radius: 10px;
}

.btn {
  padding: 10px;
  font-size: 16px;
}

.btn-primary {
  background-color: var(--secondary-color);
}

@media screen and (max-aspect-ratio: 9/16){
  .main_container{
    display: block;
    width: 100%;
  }

  .dashboard_container{
    margin: 1rem;
    padding: 0;
    
    height: calc(100vh - auto);
    overflow: hidden;
  }

  .dashboard_container form{
    margin: 1rem;
    width: 100%;
  }

  .form_row{
    flex-direction: column;
  }

  .form-control{
    width: 100%;

    padding: 5px 10px;
  }

  .form-group{
    margin-bottom: 10px;
  }
}