.dashboard_main{
    flex-direction: column;

    margin: 3rem 0 0 3rem;
}

.main_container section:first-child{
    min-height: 10vh;

    flex-direction: column;
}

.dashboard_options.option_container{
    flex-direction: column;

    width: 10rem;
    height: 8rem;

    margin: 2rem;
    padding: 0;

    border: var(--main-color) solid 2px;
    border-radius: 5px;
}

.dashboard_options.option_container > *{
    justify-content: center;

    user-select: none;
    cursor: pointer;
}

.dashboard_options.option_container div:first-child{
    width: 100%;

    color: var(--secondary-color);
    background-color: var(--main-color);

    transition: background 0.1s ease-in-out, color 0.10ms ease-in-out;
}

.dashboard_options.option_container div:last-child{
    flex-direction: column;

    width: 100%;
    
    color: var(--main-color);

    transition: transform 0.1s ease-in-out;
}

.dashboard_options.option_container:hover div:first-child{
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.dashboard_options.option_container:hover div:last-child > *{
    transform: scale(1.1);
}

