.dashboard_header{
    background-color: var(--secondary-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    user-select: none;

    min-height: 30vh;

    border-bottom: var(--main-color) solid 1px;
    border-right: var(--main-color) solid 1px;
}

.navHome{
    height: 100vh;
    width: 20rem;

    background-color: var(--main-color);
}

.navHome_ol{
    display: flex;
    flex-direction: column;

    border-top: var(--secondary-color) solid 1px;
}

.navHome_ol div{
    color: var(--secondary-color);
    user-select: none;
    cursor: pointer;
}

.option{
    flex-direction: column;
    justify-content: space-between;
}

.option_container{
    padding: .7rem;

    align-items: center;
    justify-content: space-between;

    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.option_container div h3,
.option_container div .iconify{
    transition: color 0.2s ease-in-out;
}

.option_container > div{
    align-items: center;
}

.option_container:hover{
    background: var(--select-gradiant)
}

.navHome_ul li:hover{
    background: var(--select-gradiant);
}

.target{
    border-left: var(--secondary-color) solid 5px;
}

.option.target .option_container{
    background-color: var(--secondary-color);
}

.option.target .option_container div h3,
.option.target .option_container div .iconify,
.option.target .option_container .arrow{
    color: var(--main-color);
}

.navHome_ul{
    flex-direction: column;

    margin: 0 0 0 2rem;
}

.navHome_ul li{
    color: var(--secondary-color);

    margin: 5px 0;
    padding: .5rem;
}

.option.target .arrow{
    transform: rotate(180deg);
}

.arrow{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--secondary-color); /* You can change the color to your preference */
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}