.ingreso{
    color: var(--positive-spend);
}

.gasto{
    color: var(--negative-spend);
}

.highlight{
    background-color: var(--hightlight-words);
}

.read_container{
    flex-direction: column;
    align-items: center;

    height: 100vh;
    overflow-y: auto;
}

.read_header {
    flex-direction: column;
    align-items: start;

    margin: 1rem;
}

.read_header h5{
    align-items: end;
}

.read_main{
    display: contents;

    height: 100%;

    margin: 1rem;
}

.read_main h1{
    user-select: none;
}

.readObject_Container{
    flex-direction: column;

    height: auto;
    width: 70%;

    
    border: var(--main-color) solid 2px;
}

.readObject_header{
    align-items: center;
    justify-content: end;

    width: 100%;
    height: 20px;

    background-color: var(--main-color);
}

.readObject_header > .arrow{
    margin: 0 0.5rem 0 0;
}

.image_container{
    flex-direction: column;

    height: 12.5rem;

    margin: 1rem 1rem 0 1rem;
}

.image_container img{
    user-select: none;

    width: 150px;
    height: 150px;

    object-fit: contain;
}

.data_container{
    flex-direction: column;
    justify-content: center;

    height: auto;
    width: auto;

    margin: 1rem 0.5rem;
}

.product_tags{
    height: 150%;
    flex-direction: column;
    text-align: left;
    margin-left: 400px;
    border: var(--main-color) solid 2px;
    background-color: rgba(230, 218, 230, 0.412);

}

.product_info{
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-left: 15px;
    
}

/* SEARCH FORM */
.btn_read{
    padding: 10px;
    font-size: 16px;

    color: var(--secondary-color);
    background-color: var(--main-color);
    border: var(--main-color) solid 1px;
}

.form_pages{
    display: flex;

    margin: 2rem;
}

.btn_page{
    height: 2rem;
    width: 2rem;

    font-size: 1rem;

    margin-right: 0.5rem;

    color: var(--secondary-color);
    background-color: var(--main-color);
    border: var(--main-color) solid 1px;
}

.btn_page.target{
    color: var(--main-color);
    background-color: var(--secondary-color);

}

.btn_page:hover:not(.target)
, .btn_read:hover{
    color: var(--main-color);
    background-color: var(--secondary-color);
}

/* SEARCH FORM */
.search_bar {
    display: flex;
    align-items: center;

    width: 100%;

    border-radius: 10px;
    
    background-color: white; 
    border: 1px solid var(--main-color); 
}

.search_bar input[type="text"] {
    border: none;
    outline: none;

    flex-grow: 1;

    padding: 5px;
    font-size: 14px;

    background-color: transparent;
}

.search_bar button {
    border: none;
    cursor: pointer;
    
    background-color: transparent;
}
