.ingreso{
    color: var(--positive-spend);
}

.gasto{
    color: var(--negative-spend);
}

.highlight{
    background-color: var(--hightlight-words);
}

.read_container{
    flex-direction: column;
    align-items: center;

    height: 100%;
}

.read_header {
    height: 5rem;

    margin: 1rem;

    /* background-color: yellow; */
}

.read_main{
    display: contents;
    /* flex-direction: column;
    align-items: center; */

    height: 100%;

    margin: 1rem;

    /* background-color: violet; */
}

.readObject_Container{
    flex-direction: column;

    height: auto;
    width: 70%;

    
    border: var(--main-color) solid 2px;
    /* background-color: tomato; */
}

.readObject_header{
    align-items: center;
    justify-content: end;

    width: 100%;
    height: 20px;

    background-color: var(--main-color);
}

.readObject_header > .arrow{
    margin: 0 0.5rem 0 0;
}

.image_container{
    flex-direction: column;

    height: 12.5rem;

    margin: 1rem 1rem 0 1rem;
}

.image_container img{
    user-select: none;

    width: 150px;
    height: 150px;

    object-fit: contain;
}

.data_container{
    flex-direction: column;
    justify-content: center;

    height: auto;
    width: auto;

    margin: 1rem 0.5rem;
}

.product_tags{

    height: 150%;
    flex-direction: column;
    text-align: left;
    margin-left: 400px;
    border: var(--main-color) solid 2px;
    background-color: rgba(230, 218, 230, 0.412);

}

.product_info{
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-left: 15px;
    
}

/* SEARCH FORM */
.search_bar {
    display: flex;
    align-items: center;

    margin: 1rem;

    width: 20%;

    border-radius: 10px;
    
    background-color: var(--secondary-color); 
    border: 1px solid var(--main-color); 
}

.search_bar input[type="text"] {
    border: none;
    outline: none;

    flex-grow: 1;

    padding: 5px;
    font-size: 14px;

    background-color: transparent;
}

.search_bar button {
    border: none;
    cursor: pointer;
    
    background-color: transparent;
}
