@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --main-color: #3c363c;
    --secondary-color: #F4F4F4;

    --select-gradiant: linear-gradient(90deg, rgba(255, 255, 255, 0.34) 0%, transparent 100%);

    --positive-spend: rgb(49, 188, 95);
    --negative-spend: rgb(255, 51, 122);

    --hightlight-words: #FFB6C1;
    
}

body{
    margin: 0;

    height: 100vh;

    background-color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
}

section{
    display: flex;
}

main{
    display: flex;
}

div{
    display: flex;
}

a{
    text-decoration: none;

    display: contents;
}

h1, h2, h3, h4{
    margin: .5rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 1.7rem;
}

h3{
    font-size: 1rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    margin: 0.1rem;
    font-size: 0.65rem;
}

li{
    font-size: 0.8rem;
}

ul, ol{
    list-style: none;

    margin-top: 0;
}

select{
    margin: 0 0.5rem 0 0.5rem;
}

input{
  margin: 0 0.5rem 0 0.5rem;
}

option{
  margin: 0 0.5rem 0 0.5rem;
}

textarea{
    margin: 0 0.5rem 0 0.5rem;
}

body > section {
    height: 100vh;
}

.hidden{
    display: none;
}
