:root{
    --main-color: #EBBB00;
    
    /* DEGRADADOS DE LOS COLORES PRINCIPALES */
    --main-color-deg-1: #dbb20e;
    --main-color-deg-2: #e9d37d;
    --main-color-deg-3: #f1e8c5;

    /* COLORES DE OPCIONES */
        /* ROJO */
    --rojo-1: #D21404;
    --rojo-2: #BC544B;
        /* NARANJA */
    --naranja-1: #FA8128;
    --naranja-2: #D67229;
        /* VERDE */
    --verde-1: #728C69;
    --verde-2: #98BF64;
        /* AZUL */
    --azul-1: #82EEFD;
    --azul-2: #016064;
        /* MORADO */
    --morado-1: #A45EE5;
    --morado-2: #E39FF6;
        /* ROSA */
    --rosa-1: #FA86C4;
    --rosa-2: #FDA4BA;
        /* GRIS */
    --gris-1: #9897A9;
    --gris-2: #564C4D;
}

body{
    margin: 0;
}

header{
    color: var(--main-color);

    display: flex;
    align-items: center;

    padding: 0 2rem;

    border-bottom: var(--main-color) solid 1px;
}

section{
    display: flex;
}

div{
    display: flex;
}

a{
    text-decoration: none;
}
/* --------------------------------------------------- INDEX --------------------------------------------------- */
.index_nav{
    color: var(--main-color-deg-2);

    height: 100vh;
    width: 15rem;

    border-right: var(--main-color-deg-2) solid 1px;
}

.index_ul{
    display: flex;
    flex-direction: column;

    list-style: none;

    margin: 0 1rem 0 0.5rem;
    padding: 0%;
}

.index_ul li{
    color: var(--main-color-deg-1);

    padding: 0.5rem;
    margin: 10px;
}

.index_ul li:hover{
    background-color: var(--main-color-deg-3);
}

.index_ul li.active{
    background-color: var(--main-color-deg-3);
}

.index_container div{
    width: 10rem;
    height: 5rem;

    margin: 2rem;
}

.search_bar{
    margin: 2rem;
}